name: Tests

# This workflow run tests for each push

on: push

env:
  SMB_CLIENT_ID: ${{ secrets.SMB_CLIENT_ID }}
  SMB_CLIENT_SECRET: ${{ secrets.SMB_CLIENT_SECRET }}
  SMB_API_HOST: ${{ secrets.SMB_API_HOST }}
  SMB_API_PROTOCOL: ${{ secrets.SMB_API_PROTOCOL }}
  GH_OAUTH_CLIENT_ID: ${{ secrets.GH_OAUTH_CLIENT_ID }}
  GH_OAUTH_CLIENT_SECRET: ${{ secrets.GH_OAUTH_CLIENT_SECRET }}
  GH_OAUTH_REDIRECT_HOST: ${{ secrets.GH_OAUTH_REDIRECT_HOST }}
  GH_OAUTH_REDIRECT_PORT: ${{ secrets.GH_OAUTH_REDIRECT_PORT }}

jobs:
  test_branch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable

      - name: Create .env file
        run: |
          touch .env
          echo CLI_CLIENT_ID=${{ secrets.CLI_CLIENT_ID }} >> .env
          echo SIGIT_CLIENT_ID=${{ secrets.SIGIT_CLIENT_ID }} >> .env
          echo WEB_CONSOLE_CLIENT_ID=${{ secrets.WEB_CONSOLE_CLIENT_ID }} >> .env
          echo CLI_CLIENT_SECRET=${{ secrets.CLI_CLIENT_SECRET }} >> .env
          echo SIGIT_CLIENT_SECRET=${{ secrets.SIGIT_CLIENT_SECRET }} >> .env
          echo WEB_CONSOLE_CLIENT_SECRET=${{ secrets.WEB_CONSOLE_CLIENT_SECRET }} >> .env
          cat .env

      - run: cargo test --all-features
