{
  "name": "@smbcloud/${node_pkg}",
  "version": "${node_version}",
  "keywords": ["${node_pkg}","cli","binary","node","nodejs","npm","package","smbcloud"],
  "os": ["${node_os}"],
  "cpu": ["${node_arch}"]
}