<!-- LOGO -->
<h1>
<p align="center">
  <img src="https://avatars.githubusercontent.com/u/89791739?s=200&v=4" alt="smbCloud Logo" width="128">
  <br>smbCloud CLI
</h1>
  <p align="center">
    Deploy to the cloud in one command.
    <br />
    <br />
    <a href="https://smbcloud.xyz/">Website</a>
    ·
    <a href="https://smbcloud.xyz/posts">Documentation</a>
    ·
    <a href="https://github.com/smbcloudXYZ/smbcloud-cli/issues">Issues</a>
  </p>
</p>

## `${node_pkg}`

This is a platform-specific binary package for [`@smbcloud/cli`](https://www.npmjs.com/package/@smbcloud/cli).
It is not intended to be installed directly.

Install the main package instead:

```sh
npm install -g @smbcloud/cli
```

The main package resolves and downloads the correct platform binary automatically.

## Source & Issues

Source code and issue tracker:
[github.com/smbcloudXYZ/smbcloud-cli](https://github.com/smbcloudXYZ/smbcloud-cli)

## License

[Apache-2.0](https://github.com/smbcloudXYZ/smbcloud-cli/blob/main/LICENSE)
